<div class="html">
    <div class="body">
        <div class="side-container">
            <aside>
                <div class="top ">
                    <div class="logo mt-3">
                        <img src="../../../assets/comflowhd.png" alt="">
                        <h2 class="mt-2"><b>COM</b><span class="success"><b class="success">FLOW</b></span></h2>
                    </div>
                    <div class="close" id="close-btn">
                        <span class="material-symbols-outlined">close</span>
                    </div>
                </div>
                <div class="sidebar">
                    <a href="#" class="active">
                        <span class="material-symbols-outlined">grid_view</span>
                        <h3>Dashboard</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">report</span>
                        <h3>Complaints</h3>
                        <span class="message-count">3</span>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">analytics</span>
                        <h3>Analytics</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">done_all</span>
                        <h3>Solved Complaints</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">settings</span>
                        <h3>Settings</h3>
                    </a>
                    <a routerLink="/">
                        <span class="material-symbols-outlined">logout</span>
                        <h3>Logout</h3>
                    </a>  
                </div>
            </aside>
        </div>
    </div>
</div>